<div class="background-skills">
  <section id="skills" class="flex justify-center mt-10">
    <p class="hidden 2xl:flex flex-1"></p>
    <div
      class="flex flex-col-reverse gap-10 sm:gap-20 md:gap-[10%] text-white w-full justify-between md:flex-row 2xl:w-360"
    >
      <div
        class="flex justify-center text-2xl flex-wrap gap-10 tb:gap-20 px-20 md:p-0 md:pl-16 md:w-[50%] 2xl:pl-10 2xl:max-w-2xl"
      >
        <div class="flex-1 flex-col items-center gap-4 group">
          <img
            src="img/html_icons.png"
            class="w-12 sm:w-16 group-hover:scale-110 transition-transform"
            alt="HTML"
          />
          <h2>HTML</h2>
        </div>
        <div class="flex flex-col items-center gap-4 group">
          <img
            src="img/css_icons.png"
            class="w-12 sm:w-16 group-hover:scale-110 transition-transform"
            alt="CSS"
          />
          <h2>CSS</h2>
        </div>
        <div class="flex flex-col items-center gap-4 group">
          <img
            src="img/javascript_icons.png"
            class="w-12 sm:w-16 group-hover:scale-110 transition-transform"
            alt="JavaScript"
          />
          <h2>JavaScript</h2>
        </div>
        <div class="flex flex-col items-center gap-4 group">
          <img
            src="img/typescript_icons.png"
            class="w-12 sm:w-16 group-hover:scale-110 transition-transform"
            alt="TypeScript"
          />
          <h2>TypeScript</h2>
        </div>
        <div class="flex flex-col items-center gap-4 group">
          <img
            src="img/angular_icons.png"
            class="w-12 sm:w-16 group-hover:scale-110 transition-transform"
            alt="Angular"
          />
          <h2>Angular</h2>
        </div>
        <div class="flex flex-col items-center gap-4 group">
          <img
            src="img/firebase_icons.png"
            class="w-12 sm:w-16 group-hover:scale-110 transition-transform"
            alt="Firebase"
          />
          <h2>Firebase</h2>
        </div>
        <div class="flex flex-col items-center gap-4 group">
          <img
            src="img/git_icons.png"
            class="w-12 sm:w-16 group-hover:scale-110 transition-transform"
            alt="Git"
          />
          <h2>Git</h2>
        </div>
        <div class="flex flex-col items-center gap-4 group">
          <img
            src="img/rest_api_icons.png"
            class="w-12 sm:w-16 group-hover:scale-110 transition-transform"
            alt="REST API"
          />
          <h2>REST API</h2>
        </div>
        <div class="flex flex-col items-center gap-4 group">
          <img
            src="img/scrum_icons.png"
            class="w-12 sm:w-16 group-hover:scale-110 transition-transform"
            alt="Scrum"
          />
          <h2>Scrum</h2>
        </div>
        <div class="flex flex-col items-center gap-4 group">
          <img
            src="img/material_design_icons.png"
            class="w-12 sm:w-16 group-hover:scale-110 transition-transform"
            alt="Material Design"
          />
          <h2>Material Design</h2>
        </div>
        <div class="flex flex-col items-center gap-4 group">
          <img src="img/continually_learning_icons2.png" class="hidden group-hover:block" alt="" />
          <img
            src="img/continually_learning_icons.png"
            class="w-12 sm:w-16 group-hover:hidden"
            alt="Continually Learning"
          />
          <h2 class="group-hover:hidden">{{ 'skills.continually_learning' | translate }}</h2>
        </div>
      </div>

      <div class="flex 2xl:w-180">
        <div class="flex justify-end w-full">
          <div class="flex flex-col text-right gap-4 text-xl">
            <h1 class="text-5xl xxs:text-6xl text-nowrap">{{ 'skills.title' | translate }}</h1>
            <div class="flex flex-col gap-4 justify-end">
              <p class="pl-[24%] xsm:pl-[29%]">
                {{ 'skills.description' | translate }}
              </p>

              <h2
                class="hidden text-lg lg:text-2xl xl:text-3xl font-bold md:flex justify-end text-nowrap"
              >
                {{ 'skills.looking_for' | translate }}
                <h2 class="text-nowrap text-[#9747FF] ml-1">
                  {{ 'skills.another_skill' | translate }}
                </h2>
                ?
              </h2>
            </div>
            <p class="hidden md:flex justify-end">
              {{ 'skills.enthusiasm' | translate }}
            </p>

            <button
              class="hidden md:flex justify-center items-center bg-[#70E61C] text-nowrap text-2xl font-normal py-4 px-8 rounded-xl ml-auto 2xl:ml-[70%]"
              routerLink="/"
              fragment="contact"
            >
              {{ 'skills.get_in_touch' | translate }}
            </button>
          </div>
          <p class="flex-1 bg-[#9747FF] h-1 min-w-[20%] mt-9 2xl:hidden"></p>
        </div>
      </div>
    </div>
    <p class="hidden 2xl:flex flex-1 bg-[#9747FF] h-1 min-w-6 mt-9"></p>
  </section>

  <div class="flex flex-col items-center gap-4 w-full md:hidden text-white mt-10">
    <h2 class="text-[5vw] xsm:text-[5vw] font-bold flex justify-center items-center text-nowrap">
      {{ 'skills.looking_for' | translate }}
      <h2 class="text-nowrap text-[#9747FF] ml-1">{{ 'skills.another_skill' | translate }}</h2>
      ?
    </h2>
    <p class="flex justify-center items-center text-xl px-8">
      {{ 'skills.enthusiasm' | translate }}
    </p>

    <button
      class="flex justify-center items-center bg-[#70E61C] text-nowrap text-2xl font-normal py-4 px-8 rounded-xl"
      routerLink="/"
      fragment="contact"
    >
      {{ 'skills.get_in_touch' | translate }}
    </button>
  </div>
</div>
