<section id="Contact " class="text-white flex justify-center items-center flex-col w-full mt-9">
  <div class="w-full flex items-center justify-center gap-4 py-16">
    <p class="bg-[#9747FF] h-1 flex-1"></p>
    <h1 class="text-5xl xs:text-8xl font-bold">Contact</h1>
    <p class="h-1 w-24 flex-1"></p>
  </div>

  <section
    class="max-w-350 flex justify-center items-center flex-col md:items-start lm:flex-row px-6 gap-16"
  >
    <div
      class="w-full lm:w-1/2 flex justify-center flex-col gap-4 pl-[0%] text-base xxs:text-xl xs:text-lg font-normal"
    >
      <h1 class="text-2xl xxs:text-3xl xs:text-4xl font-bold whitespace-nowrap">
        Got a problem to solve?
      </h1>
      <p>
        Encourage people to contact you and describe what role you are interested in. Show that you
        will add value to their projects through your work.
      </p>
      <p>Need a Frontend developer? <b>Contact me!</b></p>
    </div>
    <form action="" class="w-full lm:w-1/2 flex flex-col gap-4">
      <input
        type="text"
        placeholder="Name"
        class="w-full bg-transparent border-2 border-gray-500 rounded-md p-2 focus:outline-none focus:border-[#9747FF]"
      />
      <input
        type="email"
        placeholder="Email"
        class="w-full bg-transparent border-2 border-gray-500 rounded-md p-2 focus:outline-none focus:border-[#9747FF]"
      />
      <textarea
        placeholder="Message"
        class="w-full bg-transparent border-2 border-gray-500 rounded-md p-2 focus:outline-none focus:border-[#9747FF]"
      ></textarea>
      <button
        type="submit"
        class="bg-[#9747FF] text-white px-6 py-2 rounded-md hover:bg-[#7a36c9] transition-colors duration-300"
      >
        Send Message :)
      </button>
    </form>
  </section>
</section>
