<section class="flex justify-center items-center mt-24">
  <p class="hidden 2xl:block h-1 flex-1"></p>
  <div class="flex flex-col items-start 2xl:max-w-150 text-white ml-[10%] 2xl:-ml-50">
    <h1 class="text-6xl xxs:text-7xl font-bold pl-4">About me</h1>
    <p class="text-xl mt-4 p-3">
      I am a passionate software developer with a love for creating innovative solutions. With
      experience in various programming languages and frameworks, I enjoy tackling complex problems
      and continuously learning new technologies. In my free time, I contribute to open-source
      projects and explore the latest trends in the tech industry.
    </p>
    <div class="text-xl">
      <div class="flex items-center gap-2 mt-6">
        <img src="img/location.png" alt="" />
        <p class="p-2">
          Where are you located? Are you open to different ways of working, such as working remotely
          or even relocating?
        </p>
      </div>
      <div class="flex items-center gap-2 mt-6">
        <img src="img/bulb_desktop.png" alt="" />
        <p class="p-2">
          Show that you are open-minded. Are you enthusiastic about learning new technologies and
          continually improving your skills?
        </p>
      </div>
      <div class="flex items-center gap-2 mt-6">
        <img src="img/puzzle_desktop.png" alt="" />
        <p class="p-2">
          A brief description of your problem-solving approach. Do you learn from each challenge as
          you search for the most efficient or elegant solution? You can include some keywords like:
          analytical thinking, creativity, persistence and collaboration.
        </p>
      </div>
    </div>
  </div>
  <img
    src="img/profil2.png"
    class="hidden tb:block max-w-90 w-[20%] ml-[5%] 2xl:ml-50 rounded-full border-4 border-[#70E61C]"
    alt=""
  />
  <p class="hidden tb:block min-w-[3%] bg-[#70E61C] h-1 flex-1"></p>
</section>
