<footer class="w-full flex items-center justify-center">
  <section
    class="w-full max-w-360 text-white flex flex-col items-center h-72 justify-between p-5 gap-8 sm:flex-row md:gap-0"
  >
    <div>
      <div class="flex flex-col items-start gap-2">
        <h1 class="text-4xl font-bold">Hamidou</h1>
        <a href="" class="hidden sm:flex justify-start">Legal Notice</a>
      </div>
    </div>

    <p class="text-2xl font-normal">© Hamidou Diallo {{ currentYear }}</p>

    <div class="flex space-x-4">
      <img src="img/github_button.png" class="w-8 h-auto" alt="" />
      <img src="img/email_button.png" class="w-8 h-auto" alt="" />
    </div>

    <a href="" class="text-[16px] font-normal sm:hidden">Legal Notice</a>
  </section>
</footer>
