<footer class="w-full flex items-center justify-center">
  <section
    class="w-full max-w-360 text-white flex flex-col items-center justify-between p-8 gap-4 sm:flex-row md:gap-0 tb:p-10"
  >
    <div>
      <div class="flex flex-col items-start gap-2">
        <h1 class="text-4xl font-bold">Hamidou</h1>
        <a
          href=""
          class="hidden sm:flex justify-start bg-linear-to-r from-[#70E61C] to-[#70E61C] bg-no-repeat bg-bottom-left pb-1 transition-all duration-300 hover:bg-size-[50%_2px] bg-size-[0%_2px]"
          >Legal Notice</a
        >
      </div>
    </div>

    <p class="text-2xl font-normal">© Hamidou Diallo {{ currentYear }}</p>

    <div class="flex space-x-4">
      <img src="img/github_button.png" class="w-8 h-auto" alt="GitHub" />
      <img src="img/email_button.png" class="w-8 h-auto" alt="Email" />
    </div>

    <a href="" class="text-[16px] font-normal sm:hidden">Legal Notice</a>
  </section>
</footer>
