<div class="w-screen flex justify-center fixed top-0 left-0 z-50 bg-[#141d2f]">
  <nav class="w-screen max-w-360 flex justify-between items-center gap-8 p-4 text-white relative">
    <a routerLink="/">
      <h1 class="text-3xl font-bold">Hamidou</h1>
    </a>

    <!-- Desktop Menu -->
    <div class="hidden sm:flex space-x-16 justify-center items-center">
      <div class="flex gap-4">
        <a
          (click)="scrollTo('about-me')"
          class="nav-link cursor-pointer"
          [class.active]="activeSection === 'about-me'"
        >
          {{ aboutText() }}
          <span></span>
        </a>

        <a
          (click)="scrollTo('skills')"
          class="nav-link cursor-pointer"
          [class.active]="activeSection === 'skills'"
        >
          {{ skillsText() }}
          <span></span>
        </a>

        <a
          (click)="scrollTo('portfolio')"
          class="nav-link cursor-pointer"
          [class.active]="activeSection === 'portfolio'"
        >
          {{ portfolioText() }}
          <span></span>
        </a>
      </div>
      <div class="flex gap-2">
        <button
          (click)="setLanguage('DE')"
          class="border border-[#70E61C] px-2 py-1 rounded hover:bg-[#9747FF] text-lg text-white transition-colors cursor-pointer"
          [class.bg-[#70E61C]]="translationService.currentLang() === 'DE'"
        >
          DE
        </button>
        <button
          (click)="setLanguage('EN')"
          class="border border-[#70E61C] px-2 py-1 rounded hover:bg-[#9747FF] text-lg text-white transition-colors cursor-pointer"
          [class.bg-[#70E61C]]="translationService.currentLang() === 'EN'"
        >
          EN
        </button>
      </div>
    </div>

    <!-- Burger Menu Button -->
    <img
      src="img/burger_menu.png"
      alt="Burger Menu"
      class="w-6 h-6 cursor-pointer sm:hidden"
      (click)="toggleMenu()"
    />

    <!-- Mobile Popup Menu -->
    <div
      *ngIf="isMenuOpen"
      class="fixed inset-0 bg-[#141D2FCC] flex flex-col justify-center items-center z-50 transition-all duration-300 sm:hidden"
      (click)="closeMenu()"
    >
      <button
        class="absolute top-3 right-5 text-white text-3xl font-bold hover:scale-110 transition-transform"
        (click)="closeMenu()"
      >
        ✕
      </button>

      <div
        class="flex flex-col justify-center items-center gap-8"
        (click)="$event.stopPropagation()"
      >
        <a
          (click)="scrollTo('about-me')"
          class="text-white text-2xl hover:underline nav-link"
          [class.active]="activeSection === 'about-me'"
        >
          {{ aboutText() }}
        </a>
        <a
          (click)="scrollTo('skills')"
          class="text-white text-2xl hover:underline nav-link"
          [class.active]="activeSection === 'skills'"
        >
          {{ skillsText() }}
        </a>
        <a
          (click)="scrollTo('portfolio')"
          class="text-white text-2xl hover:underline nav-link"
          [class.active]="activeSection === 'portfolio'"
        >
          {{ portfolioText() }}
        </a>
        <a
          (click)="scrollTo('contact')"
          class="text-white text-2xl hover:underline nav-link"
          [class.active]="activeSection === 'contact'"
        >
          {{ contactText() }}
        </a>
        <div class="flex gap-4 mt-4">
          <button
            (click)="setLanguage('DE'); closeMenu()"
            class="hover:text-[#9747FF] text-lg text-white transition-colors"
            [class.text-[#70E61C]]="translationService.currentLang() === 'DE'"
          >
            DE
          </button>
          /
          <button
            (click)="setLanguage('EN'); closeMenu()"
            class="hover:text-[#9747FF] text-lg text-white transition-colors"
            [class.text-[#70E61C]]="translationService.currentLang() === 'EN'"
          >
            EN
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
