<div class="w-screen flex justify-center fixed top-0 left-0 z-50">
  <nav
    class="w-screen max-w-360 flex justify-between items-center gap-8 p-4 bg-gray-800 text-white relative"
  >
    <h1 class="text-3xl font-bold">Hamidou</h1>

    <!-- Desktop Menu -->
    <div class="hidden sm:flex space-x-16 justify-center items-center">
      <div class="flex gap-4">
        <a href="/" class="text-2xl font-medium">About me</a>
        <a href="/" class="text-2xl font-medium">Skills</a>
        <a href="/" class="text-2xl font-medium">Portfolio</a>
      </div>
      <div class="flex gap-2">
        <button
          class="border border-[#70E61C] px-2 py-1 rounded hover:bg-[#9747FF] text-lg text-white transition-colors"
        >
          DE
        </button>
        <button
          class="border border-[#70E61C] px-2 py-1 rounded hover:bg-[#9747FF] text-lg text-white transition-colors"
        >
          EN
        </button>
      </div>
    </div>

    <!-- Burger Menu Button -->
    <img
      src="img/burger_menu.png"
      alt="Burger Menu"
      class="w-6 h-6 cursor-pointer sm:hidden"
      (click)="toggleMenu()"
    />

    <!-- Mobile Popup Menu -->
    <div
      *ngIf="isMenuOpen"
      class="fixed inset-0 bg-[#141D2FCC] flex flex-col justify-center items-center z-50 transition-all duration-300"
      (click)="closeMenu()"
    >
      <!-- Close Button -->
      <button
        class="absolute top-3 right-5 text-white text-3xl font-bold hover:scale-110 transition-transform"
        (click)="closeMenu()"
      >
        ✕
      </button>

      <!-- Menu Items -->
      <div
        class="flex flex-col justify-center items-center gap-8"
        (click)="$event.stopPropagation()"
      >
        <a href="/" class="text-white text-2xl hover:underline" (click)="closeMenu()">About me</a>
        <a href="/" class="text-white text-2xl hover:underline" (click)="closeMenu()">Skills</a>
        <a href="/" class="text-white text-2xl hover:underline" (click)="closeMenu()">Portfolio</a>
        <a href="/" class="text-white text-2xl hover:underline" (click)="closeMenu()">Contact</a>
        <div class="flex gap-4 mt-4">
          <button
            class="hover:text-[#9747FF] text-lg text-white transition-colors"
            (click)="closeMenu()"
          >
            DE
          </button>
          /
          <button
            class="hover:text-[#9747FF] text-lg text-white transition-colors"
            (click)="closeMenu()"
          >
            EN
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
