.homeBackgroundImage {
  background-image: url('../../../../public/img/hero_background2.png');
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 100vw 50vh;
}

.personal-image {
  background-image: url('../../../../public/img/photo_shadows.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: 120vw;
}

/* Mobile First */

@media screen and (min-width: 360px) {
  .personal-image {
    background-size: 70vw;
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 550px) {
  .personal-image {
    background-size: 60vw;
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 640px) {
  .homeBackgroundImage {
    background-size: 100vw 50vh;
    background-attachment: scroll;
    background-position-y: 58vh;
  }

  .personal-image {
    background-size: 38vw;
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 800px) and (max-width: 859px) {
  .homeBackgroundImage {
    background-image: url('../../../../public/img/hero_background1.png');
    background-size: 100vw 40vh;
    background-attachment: scroll;
    background-position-y: 60vh;
  }
  .personal-image {
    background-size: 50vw;
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 860px) and (max-width: 967px) {
  .homeBackgroundImage {
    background-image: url('../../../../public/img/hero_background1.png');
    background-size: 100vw 43vh;
    background-attachment: scroll;
    background-position-y: 60vh;
  }

  .personal-image {
    background-size: 38vw;
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 968px) and (max-width: 991px) {
  .homeBackgroundImage {
    background-image: url('../../../../public/img/hero_background1.png');
    background-size: 100vw 45vh;
    background-attachment: scroll;
    background-position-y: 60vh;
  }

  .personal-image {
    background-size: 45vw;
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 992px) {
  .homeBackgroundImage {
    background-image: url('../../../../public/img/hero_background1.png');
    background-size: 100vw 44vh;
    background-attachment: scroll;
    background-position-y: 60vh;
  }

  .personal-image {
    background-size: calc(35vw + 1rem);
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 1200px) {
  .personal-image {
    background-size: calc(20vw + 1rem);
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 1440px) {
  .personal-image {
    background-size: 490px;
    background-attachment: scroll;
    background-position-y: top;
  }
}
