.personal-image {
  background-image: url('../../../../public/img/photo_shadows.png');
  background-size: 50%, 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
