.personal-image {
  background-image: url('../../../../public/img/photo_shadows.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: calc(100vw + 2rem);
}

/* Mobile First */

@media screen and (max-width: 640px) {
  .personal-image {
    background-size: calc(100vw + 5rem);
    background-attachment: scroll;
  }
}

@media screen and (min-width: 800px) and (max-width: 859px) {
  .personal-image {
    background-size: 50vw;
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 860px) and (max-width: 967px) {
  .personal-image {
    background-size: 38vw;
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 968px) and (max-width: 991px) {
  .personal-image {
    background-size: 45vw;
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 992px) {
  .personal-image {
    background-size: calc(35vw + 1rem);
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 1200px) {
  .personal-image {
    background-size: calc(30vw + 1rem);
    background-attachment: scroll;
    background-position-y: top;
  }
}

@media screen and (min-width: 1440px) {
  .personal-image {
    background-size: 690px;
    background-attachment: scroll;
    background-position-y: top;
  }
}
