<div
  id="app-home"
  class="homeBackgroundImage w-screen h-[calc(100vh-85px)] flex flex-col justify-center items-center"
>
  <section
    #profileSection
    class="mt-28 w-full max-w-360 flex justify-center items-center flex-col tb:flex-row tb:justify-between tb:items-center"
  >
    <img
      src="img/profil1.png"
      class="personal-image object-scale-down h-[calc(100vh-330px)] z-[-1] md:max-h-210 tb:h-[calc(100vh-200px)] tb:ml-8"
      alt="Profile picture of Hamidu Diallo"
    />
    <main class="flex flex-col justify-center items-center text-white tb:flex-1 tb:mr-10">
      <div class="flex justify-center items-center gap-4">
        <h3
          class="-rotate-90 text-2xl xxs:text-3xl xs:text-4xl xsm:text-5xl md:text-4xl tb:text-2xl lm:text-3xl 2xl:text-[30px] font-normal"
        >
          I am
        </h3>
        <div>
          <h1
            class="text-4xl xxs:text-5xl xs:text-6xl xsm:text-7xl tb:text-[5vw] 2xl:text-[78px] font-bold tracking-tight"
          >
            Hamidu Diallo
          </h1>
          <p
            class="text-xl xxs:text-2xl xs:text-3xl xsm:text-4xl tb:text-[3vw] 2xl:text-[45px] text-[#9747FF] font-normal whitespace-nowrap tracking-tight"
          >
            FRONTEND DEVELOPER
          </p>
        </div>
      </div>

      <button
        class="bg-[#70E61C] hover:bg-[#9747FF] text-white text-2xl mt-4 px-7 py-4 rounded-xl"
        (click)="scrollTo('contact')"
      >
        Let’s talk!
      </button>
    </main>
  </section>

  <section class="w-screen flex justify-center items-center text-white absolute bottom-0">
    <p class="bg-[#9747FF] w-[25%] sm:w-25 h-1 2xl:flex-1"></p>
    <div class="flex-1 2xl:min-w-335 flex justify-between items-center">
      <div class="flex items-center ml-[10%] gap-[5%] sm:gap-4 sm:ml-4">
        <a href="https://github.com/Hamidou-ctr" target="_blank" rel="noopener noreferrer">
          <img src="img/github_button.png" class="w-8" alt="" />
        </a>
        <p class="hidden sm:inline">
          <a href="" target="_blank" rel="noopener noreferrer">
            <img src="img/email_button.png" class="w-8" alt="" />
          </a>
        </p>

        <a class="text-[4vw] xs:text-2xl font-normal" (click)="scrollTo('contact')"
          >hamiduguinea@gmail.com</a
        >
      </div>
      <p class="rotate-90 hidden sm:inline text-2xl font-normal mb-16">
        <a (click)="scrollTo('contact')">Scroll down &rarr;</a>
      </p>
    </div>
    <p class="hidden 2xl:block 2xl:flex-1"></p>
  </section>
</div>
