<div class="w-screen h-[calc(100vh-100px)] bg-gray-100">
  <section class="mt-28 max-w-360 mx-auto">
    <img src="" alt="" />
    <main></main>
    <div>
      This is the main content of the home page. You can add more information here about your
      website, services, or any other relevant details that you want to share with your visitors.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, reiciendis numquam maxime
      veritatis repellendus et ullam consequatur veniam laborum debitis iusto provident, excepturi
      dolores minima autem dicta sapiente. Eaque, rem.
    </div>
  </section>

  <section class="w-screen flex justify-center items-center text-white bg-gray-800">
    <p class="bg-[#9747FF] w-[5%] xs:w-25 h-1 2xl:flex-1"></p>
    <div class="flex-1 2xl:min-w-335">
      This is the main content of the home page. You can add more information here about your
      website, services, or any other relevant details that you want to share with your visitors.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, reiciendis numquam maxime
      veritatis repellendus et ullam consequatur veniam laborum debitis iusto provident, excepturi
      dolores minima autem dicta sapiente. Eaque, rem.
    </div>
    <p class="hidden 2xl:block 2xl:flex-1"></p>
  </section>
</div>
