<div class="w-screen h-[calc(100vh-100px)]">
  <section class="mt-28 max-w-360 mx-auto">
    <img src="" alt="" />
    <main></main>
    <div>
      This is the main content of the home page. You can add more information here about your
      website, services, or any other relevant details that you want to share with your visitors.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, reiciendis numquam maxime
      veritatis repellendus et ullam consequatur veniam laborum debitis iusto provident, excepturi
      dolores minima autem dicta sapiente. Eaque, rem.
    </div>
  </section>

  <section class="w-screen flex justify-center items-center text-white bg-gray-800">
    <p class="bg-[#9747FF] w-[25%] sm:w-25 h-1 2xl:flex-1"></p>
    <div class="flex-1 2xl:min-w-335 flex justify-between items-center">
      <div class="flex items-center gap-[100%] ml-[10%] sm:gap-4 sm:ml-4">
        <img src="img/github_button.png" class="w-8" alt="" />
        <img src="img/email_button.png" class="w-8" alt="" />
        <a class="hidden sm:inline text-2xl font-normal" href="mailto:hamiduguinea@gmail.com"
          >hamiduguinea@gmail.com</a
        >
      </div>
      <p class="hidden sm:inline text-2xl font-normal rotate-90">Scroll down &rarr;</p>
    </div>
    <p class="hidden 2xl:block 2xl:flex-1"></p>
  </section>
</div>
