<section class="container mx-auto min-h-[calc(100vh-250px)] mt-20 px-4 py-8 text-white">
  <a
    routerLink="/"
    fragment="contact"
    class="text-2xl bg-[#70E61C] font-normal top-24 ml-[90%] px-4 py-2 rounded-md transition-colors duration-300 hover:bg-[#9747FF]"
  >
    <button>Back</button>
  </a>
  <h1 class="text-3xl font-bold mb-4">Privacy Policy</h1>
  <p class="mb-4">
    At Hamidou Sarr's Portfolio, we are committed to protecting your privacy. This Privacy Policy
    explains how we collect, use, and safeguard your personal information when you visit our
    website.
  </p>
  <h2 class="text-2xl font-bold mb-4">Information We Collect</h2>
  <p class="mb-4">
    We may collect personal information such as your name, email address, and any other information
    you voluntarily provide when you contact us through our website or subscribe to our newsletter.
  </p>
  <h2 class="text-2xl font-bold mb-4">How We Use Your Information</h2>
  <p class="mb-4">
    We use the information we collect to respond to your inquiries, provide you with updates about
    our services, and improve our website. We do not sell or share your personal information with
    third parties for marketing purposes.
  </p>
  <h2 class="text-2xl font-bold mb-4">Data Security</h2>
  <p class="mb-4">
    We take reasonable measures to protect your personal information from unauthorized access, use,
    or disclosure. However, please be aware that no method of transmission over the internet or
    method of electronic storage is completely secure.
  </p>
  <h2 class="text-2xl font-bold mb-4">Your Rights</h2>
  <p class="mb-4">
    You have the right to access, correct, or delete your personal information. If you wish to
    exercise any of these rights, please contact us using the contact information provided on our
    website.
  </p>
</section>
