:host {
  display: block;
  min-height: 100vh;
  background-color: #141d2f;
}

/* Für bessere Lesbarkeit auf Mobilgeräten */
@media (max-width: 640px) {
  .list-inside {
    padding-left: 0.5rem;
  }
}

/* Smooth Scrolling für Ankerlinks */
html {
  scroll-behavior: smooth;
}