.submitSuccess,
.submitError {
  position: fixed;
  top: 50%;
  right: -300px;
  min-width: 250px;
  z-index: 1000;

  animation: slideInOut 4s ease forwards;
}

@keyframes slideInOut {
  0% {
    opacity: 0;
    transform: translateX(0);
  }

  10% {
    opacity: 1;
    transform: translateX(-320px);
  }

  80% {
    opacity: 1;
    transform: translate(-320px, -50%);
  }

  100% {
    opacity: 0;
    transform: translateX(0);
  }
}

section {
  background-image: url('../../../../../public/img/purple_shadow_footer.png');
  background-size: 100vw 100vw;
  background-position: left -30vw bottom -50vw;
  background-repeat: no-repeat;
}

@media only screen and (min-width: 540px) {
  section {
    background-size: 70vw 100vw;
    background-position: left -30vw bottom -50vw;
  }
}

@media only screen and (min-width: 640px) {
  section {
    background-size: 60vw 100vw;
    background-position: left -30vw bottom -50vw;
  }
}

@media only screen and (min-width: 768px) {
  section {
    background-size: 70vw 80vw;
    background-position: left -30vw bottom -50vw;
  }
}

@media only screen and (min-width: 860px) {
  section {
    background-size: 100vw 100vw;
    background-position: left -30vw bottom -50vw;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1400px) {
  section {
    background-size: 80vw 80vw;
    background-position: left -30vw bottom -50vw;
  }
}

@media only screen and (min-width: 1400px) {
  section {
    background-image: none;
  }

  .background-image {
    background-image: url('../../../../../public/img/purple_shadow_footer.png');
    background-size: 1000px 800px;
    background-position: left -200px bottom -400px;
    background-repeat: no-repeat;
  }
}


@media only screen and (min-width: 1500px) {
  .background-image {
    background-size: 700px 700px;
    background-position: left 0px bottom -200px;
  }
}