<section class="flex justify-center items-center mt-24">
  <p class="hidden 2xl:block h-1 flex-1"></p>
  <div class="flex flex-col items-start 2xl:max-w-150 text-white ml-[10%] 2xl:-ml-50">
    <h1 class="text-5xl xxs:text-7xl font-bold pl-4">{{ 'about.title' | translate }}</h1>
    <p class="text-xl p-6">
      {{ 'about.description' | translate }}
    </p>
    <div class="text-xl">
      <div class="flex items-center ">
        <img src="img/location.png" alt="" />
        <p class="p-6">
          {{ 'about.flexible_work' | translate }}
        </p>
      </div>
      <div class="flex items-center">
        <img src="img/bulb_desktop.png" alt="" />
        <p class="p-6">
          {{ 'about.open_minded' | translate }}
        </p>
      </div>
      <div class="flex items-center">
        <img src="img/puzzle_desktop.png" alt="" />
        <p class="p-6">
          {{ 'about.problem_solving' | translate }}
        </p>
      </div>
    </div>
  </div>
  <img
    src="img/profil2.png"
    class="hidden tb:block max-w-90 w-[20%] ml-[5%] 2xl:ml-50 rounded-full border-4 border-[#70E61C]"
    alt="Profile picture"
  />
  <p class="hidden tb:block min-w-[3%] bg-[#70E61C] h-1 flex-1"></p>
</section>
