<section class="flex justify-center items-center mt-24">
  <p class="hidden 2xl:block h-1 flex-1"></p>
  <div class="flex flex-col items-start 2xl:max-w-150 text-white ml-[10%] 2xl:-ml-50">
    <h1 class="text-6xl xxs:text-7xl font-bold pl-4">About me</h1>
    <p class="text-xl mt-4 p-3">
      Hi, I'm a german speaking Frontend Developer leaving in Wuppertal . Motivated by the limitless
      opportunities within IT, I am excited about crafting visually captivating and intuitive
      websites and applications.
    </p>
    <div class="text-xl">
      <div class="flex items-center gap-2 mt-6">
        <img src="img/location.png" alt="" />
        <p class="p-2">
          Flexible in terms of working environments, I can work effectively both on-site in
          Wuppertal and remotely.
        </p>
      </div>
      <div class="flex items-center gap-2 mt-6">
        <img src="img/bulb_desktop.png" alt="" />
        <p class="p-2">
          I am open-minded and always looking for personal challenges to constantly improve my
          knowledge and skills.
        </p>
      </div>
      <div class="flex items-center gap-2 mt-6">
        <img src="img/puzzle_desktop.png" alt="" />
        <p class="p-2">
          In my profession, programming isn't just about writing code; it's a creative form of
          problem-solving. I take pride in my ability to distill complex technical challenges into
          simple, user-friendly solutions. This way, I help you achieve your goals and bring your
          visions to life.
        </p>
      </div>
    </div>
  </div>
  <img
    src="img/profil2.png"
    class="hidden tb:block max-w-90 w-[20%] ml-[5%] 2xl:ml-50 rounded-full border-4 border-[#70E61C]"
    alt=""
  />
  <p class="hidden tb:block min-w-[3%] bg-[#70E61C] h-1 flex-1"></p>
</section>
