<section id="portfolio" class="text-white flex justify-center items-center flex-col w-full mt-9">
  <div class="flex justify-center items-center gap-4 w-full pl-[10%] 2xl:pl-[40%]">
    <p class="bg-[#9747FF] w-[10%] sm:w-24 h-1"></p>
    <h1 class="text-4xl xs:text-7xl font-bold">{{ 'portfolio.title' | translate }}</h1>
    <p class="bg-[#9747FF] h-1 w-24 flex-1"></p>
  </div>

  <p class="text-center p-8 sm:p-0 2xl:pl-96 mt-4 text-lg sm:text-xl">
    {{ 'portfolio.description' | translate }}
  </p>

  <div class="max-w-350 flex justify-center items-center">
    <app-project></app-project>
  </div>
</section>