/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';

@theme {
  --breakpoint-xxs: 395px;
  --breakpoint-xs: 480px;
  --breakpoint-xsm: 540px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-tb: 800px;
  --breakpoint-lm: 860px;
  --breakpoint-lt: 992px;
  --breakpoint-lg: 968px;
  --breakpoint-lx: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1440px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #141d2f;
}
